{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block content %}
<!-- Contenido específico de la página de dashboard -->
<div class="content-header">
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h3 class="m-0">Fichas Medicas</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <!-- Pestañas (Tabs) -->
        <div class="card">
          <div class="card-header p-0">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" id="tabSeleccion" data-toggle="pill" href="#seleccion"
                  onclick="volverASeleccion()">Seleccionar opciones</a>

              </li>
              <li class="nav-item">
                <a class="nav-link" id="tabTabla" data-toggle="pill" href="#miTabla">Tabla</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <!-- Contenido de la pestaña de selección -->
              <div id="seleccion" class="tab-pane fade show active">
                <label for="opcionesSelect">Selecciona una opción:</label>
                <select class="form-control select2 form-control-sm" style="width: 100%;" id="codigo_paciente"
                  name="codigo_paciente">
                  <option value="">Buscar Paciente</option>
                  {% for item in data %}
                  <option value="{{ item.codprovcli }}">{{ item.codprovcli }} - {{ item.nombre }}</option>
                  {% endfor %}
                </select>

                <button type="button" class="btn btn-primary mt-2" onclick="seleccionarOpcion()">Continuar</button>
              </div>

              <!-- Contenido de la pestaña de la tabla -->
              <div id="miTabla" class="tab-pane fade">
                <!-- Contenido de la tabla -->
                <div class="table-responsive">

                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-sm">Ficha</th>
                        <th class="text-sm">Cedula</th>
                        <th class="text-sm">Historia</th>
                        <th class="text-sm">Paciente</th>
                        <th class="text-sm">Dirección</th>
                        <th class="text-sm">Teléfono</th>
                        <th class="text-sm">Activo</th>
                        <th class="text-sm">Acciones</th>
                        <!-- Agrega más columnas según sea necesario -->
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Agrega filas con los datos necesarios -->
                      <tr>
                        <td>Dato 1</td>
                        <td>Dato 2</td>
                        <!-- Agrega más celdas según sea necesario -->
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.table -->
              </div>
            </div>
          </div>
        </div>
        <!-- Fin de Pestañas (Tabs) -->
      </div>
    </div>

   <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="miModalLabel">Detalles del Paciente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Contenido del modal -->
                <div id="detallesPaciente"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
  </div>
</div>

<script>
    function seleccionarOpcion() {
        var codprovcli = $('#codigo_paciente').val();

        if (codprovcli) {
            $.ajax({
                type: 'GET',
                url: '{% url "obtener_datos_paciente" %}',
                data: {'codprovcli': codprovcli},
                success: function (data) {
                    if (data.error) {
                        alert(data.error);
                    } else {
                        var tabla = $('#miTabla tbody');
                        tabla.empty();

                        for (var i = 0; i < data.data.length; i++) {
                            var paciente = data.data[i];
                            var row = '<tr>';
                            row += '<td class="text-sm">' + paciente.codprovcli + '</td>';
                            row += '<td class="text-sm">' + paciente.historia + '</td>';
                            row += '<td class="text-sm">' + paciente.ruc + '</td>';
                            row += '<td class="text-sm">' + paciente.nombre + '</td>';
                            row += '<td class="text-sm">' + paciente.direccion + '</td>';
                            row += '<td class="text-sm">' + paciente.telefono + '</td>';
                            row += '<td class="text-sm text-center"><input class="form-check-input" type="checkbox" ' + (paciente.bandactivo ? 'checked' : '') + ' disabled></td>';
                            row += '<td><button class="btn btn-primary btn-sm" onclick="capturarValor(\'' + paciente.codprovcli + '\')">Capturar</button></td>';
                            row += '</tr>';
                            tabla.append(row);
                        }

                        $('#tabSeleccion').removeClass('active');
                        $('#tabTabla').addClass('active');
                        $('#seleccion').removeClass('show active');
                        $('#miTabla').addClass('show active');
                    }
                },
                error: function () {
                    alert('Error al obtener los datos del paciente');
                }
            });
        } else {
            alert('Por favor, selecciona un paciente.');
        }
    }

    function volverASeleccion() {
        $('#miTabla tbody').empty();
        $('#codigo_paciente').val('').trigger('change');
        $('#tabTabla').removeClass('active');
        $('#tabSeleccion').addClass('active');
        $('#miTabla').removeClass('show active');
        $('#seleccion').addClass('show active');
    }

    // Nueva función para capturar el valor y mostrarlo en la consola
    function capturarValor(codprovcli) {
         var detalles = "Detalles del paciente: " + codprovcli;
        console.log(detalles)
        // Muestra los detalles en el modal
        $('#detallesPaciente').html(detalles);
        $('#miModal').modal('show');
    }
</script>







{% endblock %}