{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block content %}
<!-- Contenido específico de la página de dashboard -->
<div class="content-header">
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h3 class="m-0">Fichas Medicas</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <!-- Pestañas (Tabs) -->
        <div class="card">
          <div class="card-header p-0">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" id="tabSeleccion" data-toggle="pill" href="#seleccion"
                  onclick="volverASeleccion()">Seleccionar opciones</a>

              </li>
              <li class="nav-item">
                <a class="nav-link" id="tabTabla" data-toggle="pill" href="#miTabla">Tabla</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <!-- Contenido de la pestaña de selección -->
              <div id="seleccion" class="tab-pane fade show active">
                <label for="opcionesSelect">Selecciona una opción:</label>
                <select class="form-control select2 form-control-sm" style="width: 100%;" id="codigo_paciente"
                  name="codigo_paciente">
                  <option value="">Buscar Paciente</option>
                  {% for item in data %}
                  <option value="{{ item.codprovcli }}">{{ item.codprovcli }} - {{ item.nombre }}</option>
                  {% endfor %}
                </select>

                <button type="button" class="btn btn-primary mt-2" onclick="seleccionarOpcion()">Continuar</button>
              </div>

              <!-- Contenido de la pestaña de la tabla -->
              <div id="miTabla" class="tab-pane fade">
                <!-- Contenido de la tabla -->
                <div class="table-responsive">

                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-sm">Ficha</th>
                        <th class="text-sm">Cedula</th>
                        <th class="text-sm">Historia</th>
                        <th class="text-sm">Paciente</th>
                        <th class="text-sm">Dirección</th>
                        <th class="text-sm">Teléfono</th>
                        <th class="text-sm">Acciones</th>
                        <!-- Agrega más columnas según sea necesario -->
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>
                <!-- /.table -->
              </div>
            </div>
          </div>
        </div>
        <!-- Fin de Pestañas (Tabs) -->
      </div>
    </div>

    <!-- MODAL PRINCIPAL -->
    <div class="modal fade" data-backdrop="static" id="modalInfoPaciente" tabindex="-1" role="dialog"
      aria-labelledby="modalInfoPacienteLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalInfoPacienteLabel">Detalles del Paciente</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Boton para seleccion de los diferentes formularios -->

            <!-- Contenido del modal -->
            <span id="detallesPaciente"></span>
            <hr>
            <!-- BARRA DE NAVEGACION DE PASOS Y FORMULARIO DE INFORMACION PRINCIPAL -->
            <div class="row g-1">
              <div class="col-md-12">

                <!-- Barra de navegación -->
                <!-- Barra de navegación -->
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active paso-tab" data-toggle="pill" href="#paso1">Paso 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link paso-tab" data-toggle="pill" href="#paso2" disabled>Paso 2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link paso-tab" data-toggle="pill" href="#paso3" disabled>Paso 3</a>
              </li>
              <li class="nav-item">
                <a class="nav-link paso-tab" data-toggle="pill" href="#paso4" disabled>Paso 4</a>
              </li>
            </ul>


                <!-- CONTENIDO DEL FORMULARIO DE INFORMACION PERSONAL -->
                <div class="tab-content mt-2">
                  <!-- Paso 1 -->
                  <div class="tab-pane fade show active" id="paso1">
                      <br>
                    <h4>Paso 1</h4>
                    <form>
                      <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
                      </div>
                      <button type="button" class="btn btn-primary next-button" data-toggle="pill"
                        href="#paso2">Siguiente</button>
                    </form>
                  </div>
                  <!-- Paso 2 -->
                  <div class="tab-pane fade" id="paso2">
                      <br>
                    <h4>Paso 2</h4>
                    <form>
                      <div class="form-group">
                        <label for="apellido">Apellido:</label>
                        <input type="text" class="form-control" id="apellido" placeholder="Ingrese su apellido">
                      </div>
                      <button type="button" class="btn btn-secondary prev-button" data-toggle="pill"
                        href="#paso1">Anterior</button>
                      <button type="button" class="btn btn-primary next-button" data-toggle="pill"
                        href="#paso3">Siguiente</button>
                    </form>
                  </div>
                  <!-- Paso 3 -->
                  <div class="tab-pane fade" id="paso3">
                      <br>
                    <h4>Paso 3</h4>
                    <form>
                      <div class="form-group">
                        <label for="edad">Edad:</label>
                        <input type="number" class="form-control" id="edad" placeholder="Ingrese su edad">
                      </div>
                      <button type="button" class="btn btn-secondary prev-button" data-toggle="pill"
                        href="#paso2">Anterior</button>
                      <button type="button" class="btn btn-primary next-button" data-toggle="pill"
                        href="#paso4">Siguiente</button>
                    </form>
                  </div>
                  <!-- Paso 4 -->
                  <div class="tab-pane fade" id="paso4">
                      <br>
                    <h4>Paso 4</h4>
                    <form>
                      <div class="form-group">
                        <label for="correo">Correo:</label>
                        <input type="email" class="form-control" id="correo" placeholder="Ingrese su correo">
                      </div>
                      <button type="button" class="btn btn-secondary prev-button" data-toggle="pill"
                        href="#paso3">Anterior</button>
                      <button type="submit" class="btn btn-success">Enviar</button>
                    </form>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
  // Agregar funcionalidad para cambiar de pestaña al hacer clic en el botón "Siguiente"
  $(document).ready(function () {
    $('.next-button').on('click', function () {
      var nextTab = $(this).attr('href');
      $('.nav-pills a[href="' + nextTab + '"]').tab('show');
    });

    // Agregar funcionalidad para cambiar de pestaña al hacer clic en el botón "Anterior"
    $('.prev-button').on('click', function () {
      var prevTab = $(this).attr('href');
      $('.nav-pills a[href="' + prevTab + '"]').tab('show');
    });

    $('.paso-tab').on('click', function () {
      var targetTab = $(this).attr('href');
      $('.nav-pills a[href="' + targetTab + '"]').tab('show');
    });
  });

  function seleccionarOpcion() {
    var codprovcli = $('#codigo_paciente').val();

    if (codprovcli) {
      $.ajax({
        type: 'GET',
        url: '{% url "obtener_datos_paciente" %}',
        data: { 'codprovcli': codprovcli },
        success: function (data) {
          if (data.error) {
            alert(data.error);
          } else {
            var tabla = $('#miTabla tbody');
            tabla.empty();

            for (var i = 0; i < data.data.length; i++) {
              var paciente = data.data[i];
              var row = '<tr>';
              row += '<td class="text-sm">' + paciente.codprovcli + '</td>';
              row += '<td class="text-sm">' + paciente.historia + '</td>';
              row += '<td class="text-sm">' + paciente.ruc + '</td>';
              row += '<td class="text-sm">' + paciente.nombre + '</td>';
              row += '<td class="text-sm">' + paciente.direccion + '</td>';
              row += '<td class="text-sm">' + paciente.telefono + '</td>';
              if (paciente.bandactivo) {
                row += '<td><button class="btn btn-outline-secondary" onclick="capturarCodProvCli(\'' + paciente.codprovcli + '\')">Activo</button></td>';
              } else {
                row += '<td><button class="btn btn-outline-secondary" onclick="capturarCodProvCli(\'' + paciente.codprovcli + '\')" disabled>Inactivo</button></td>';
              };
              row += '</tr>';
              tabla.append(row);
            }

            $('#tabSeleccion').removeClass('active');
            $('#tabTabla').addClass('active');
            $('#seleccion').removeClass('show active');
            $('#miTabla').addClass('show active');
          }
        },
        error: function () {
          alert('Error al obtener los datos del paciente');
        }
      });
    } else {
      alert('Por favor, selecciona un paciente.');
    }
  }

  function volverASeleccion() {
    $('#miTabla tbody').empty();
    $('#codigo_paciente').val('').trigger('change');
    $('#tabTabla').removeClass('active');
    $('#tabSeleccion').addClass('active');
    $('#miTabla').removeClass('show active');
    $('#seleccion').addClass('show active');
  }

  // Nueva función para capturar el valor y mostrarlo en la consola
  function capturarCodProvCli(codprovcli) {
    var codprovcli = `Paciente: ${codprovcli}`
    // Muestra los detalles en el modal
    $('#detallesPaciente').html(codprovcli);
    $('#modalInfoPaciente').modal('show');
  }
</script>


{% endblock %}